main{
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    background-size: 250px;
}

table{
    tr{
        td{
            @include xs{
                font-size: 10px;
            }
            @include s{
                font-size: 15px;
            }
            @include m{
                font-size: 17px;
            }
            @include l{
                font-size: 20px;
            }
        }
    }
}

.card-body>h3{
    font-size: 20px;
}

#tIstorijat{
    @include xs{
        font-size: 15px;
    }
    @include m{
        font-size: 14px;
    }
    @include l{
        font-size: 19px;
    }
}